In [1]:
#1. Write a code to create a string with your name and print it?

name = 'Ankur'
print(name)

Ankur

In [ ]:
#2.Write a code to find the length of the string "Hello World"?
st = "Hello World"
print(len(st))

11

In [5]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?

str = "Python Programming"
str[0:3]

'Pyt'

In [6]:
#4.Write a code to convert the string "hello" to uppercase?
st = "hello"
st.upper()

'HELLO'

In [8]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

str = "I like apple"
str.replace('apple','orange')

'I like orange'

In [10]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

lst =[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [11]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
l= [1, 2, 3, 4]
l.append(10)
l

[1, 2, 3, 4, 10]

In [12]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst =[1,2,3,4,5]
lst.remove(3)
lst

[1, 2, 4, 5]

In [13]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

ls = ['a', 'b', 'c', 'd']

ls[1]

'b'

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
rev = []
#using loop
for i in range(len(lst)-1,-1,-1) :
    rev.append(lst[i])
print(rev)    

# using slicing
print(lst[::-1])

#using cpmrehension
reverse = [lst[i] for i in range(len(lst)-1,-1,-1)]
print(reverse)

#using built in
lst.reverse()
lst

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

In [24]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100,200,300)

print(t)

(100, 200, 300)

In [26]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

color = ('red', 'green', 'blue', 'yellow')

color[1:]

('green', 'blue', 'yellow')

In [29]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

num = (10, 20, 5, 15)
max(num)

20

In [31]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animal = ('dog', 'cat', 'rabbit')

animal.index('cat')

1

In [33]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

friuts = ('apple','banana','kiwi','orange')

if 'kiwi' in friuts :
    print('Kiwi is present in tuple')
else :
    print('Kiwi is not present in tuple')

Kiwi is present in tuple

In [36]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

st ={'a','b','c'}
print(st)

{'c', 'b', 'a'}

In [37]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

ele = {1, 2, 3, 4, 5}

ele.clear()

ele

set()

In [38]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

ele = {1, 2, 3, 4}
ele.remove(4)
ele

{1, 2, 3}

In [41]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1,2,3}
s2={3,4,5}

print(s1|s2) 

s1.union(s2)

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [43]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1 = {1,2,3}
s2 = {2,3,4}

print(s1&s2)

s1.intersection(s2)

{2, 3}

{2, 3}

In [44]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

people = {"name": "Ankur","age": 22,"city": 'kolkata'}

print(people)

{'name': 'Ankur', 'age': 22, 'city': 'kolkata'}

In [45]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dt = {'name': 'John', 'age': 25}

dt['country'] = 'USA'

dt

{'name': 'John', 'age': 25, 'country': 'USA'}

In [46]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dct = {'name': 'Alice', 'age': 30}

dct.get('name')

'Alice'

In [48]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}

d.pop('age')

d

{'name': 'Bob', 'city': 'New York'}

In [50]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("'city' exists in the dictionary.")
else:
    print("'city' does not exist in the dictionary.")

'city' exists in the dictionary.

In [53]:
#26.. Write a code to create a list, a tuple, and a dictionary, and print them all.

lst =[0,1,2,3]
tup =('a','b','c')
dict ={'name':'Ankur','age':29}

print(lst ,'------>',type(lst))
print(tup ,'------>',type(tup))
print(dict ,'------>',type(dict))

[0, 1, 2, 3] ------> <class 'list'>
('a', 'b', 'c') ------> <class 'tuple'>
{'name': 'Ankur', 'age': 29} ------> <class 'dict'>

In [60]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

lst = [ random.randint(1, 100) for _ in range(5) ]

lst.sort()

print(lst)

[11, 34, 62, 64, 78]

In [61]:
#28.Write a code to create a list with strings and print the element at the third index.

names=  ['Ankur','Aman','Rohit','Vinit']

names[2]

'Rohit'

In [65]:
#29.Write a code to combine two dictionaries into one and print the result.

dct = {"name":"Ankur","emial":"av@gmail.com","Contact":(123,456)}

d = {'City':'kolkata' , 'State' : 'WB'}

dct.update(d)

dct

{'name': 'Ankur',
 'emial': 'av@gmail.com',
 'Contact': (123, 456),
 'City': 'kolkata',
 'State': 'WB'}

In [84]:
#30. Write a code to convert a list of strings into a set

lst =['a','b','c','d','a','b','z']
s = set(lst)
s

{'a', 'b', 'c', 'd', 'z'}